<h2>Change password email</h2>

<p style="font-size: 16px;">Hello {{ name }}, use this token to change your password</p>
<p style="font-size: 16px;">Token: <strong>{{ token }}</strong> </p>

<a href="http://localhost:3000/reset_password" style="font-size: 16px;">Change using this link</a>

<p style="font-size: 16px;">Made with love by <a href="https://github.com/vitorpedeo">Vitor</a> </p>