.register-view {
  position: relative;
  width: 100%;
  max-width: 700px;
  background-color: #fff;
  padding: 15px 35px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.link-to-login {
  position: absolute;
  top: 20px;
  left: 10px;
  height: 20px;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  display: flex;
  align-items: center;
  transition: .3s;
}

.link-to-login:hover {
  color: #323232;
}

.register-content {
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}

.register-form {
  width: 100%;
  text-align: center;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;  
}

.pic-component {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.all-inputs {
    width: 60%;
}

.register-form .form-btn {
    width: 180px;
}
